<!DOCTYPE html>
<html>
<head>
  <title>司夏作品查询工具</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="icon" href="./logo.png" sizes="32x32">
</head>
<body>
  <div id="app">
  <h2>司夏_西国の海妖作品查询工具</h2>
  <el-tabs type="border-card" v-model="activeName">
    <el-tab-pane label="使用须知" name="alert">
        <h3>媒体库更新时间 {{ updateTime }}</h3>
        1. 本工具基础数据来自 西国の海妖吧 闻名天下的大盗<br>
        2. 考虑到版权问题，所有歌曲的跳转链接都为各大音乐平台在线播放链接，无连接歌曲请自行在作品集中查找<br>
        3. 跳转链接分为：网易云音乐、5Sing、QQ音乐、其他平台（酷狗/酷我/B站/转圈）<br>
        4. 同平台内重复资源：音质优先，音质相同大王账号下优先<br>
        5. 目前已整理作品覆盖率：网易云音乐 {{ netease_ratio }}% | 5Sing {{ sing_ratio }}% | QQ音乐 {{ qqmusic_ratio }}% | 其他平台 {{ other_ratio }}%<br>
        <h4>欢迎帮助整理大王作品：</h4>
        <el-form :inline="true" :model="form" ref="form" :rules="rules" class="demo-form-inline">
          <el-form-item label="作品名" prop="item">
            <el-input v-model="form.item" placeholder="作品名"></el-input>
          </el-form-item>
          <el-form-item label="发布平台" prop="platform">
            <el-select v-model="form.platform" placeholder="发布平台">
              <el-option label="网易云音乐" value="netease"></el-option>
              <el-option label="5Sing" value="sing"></el-option>
              <el-option label="QQ音乐" value="qqmusic"></el-option>
              <el-option label="其他平台" value="other"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="作品链接" prop="url">
            <el-input v-model="form.url"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">提交</el-button>
          </el-form-item>
        </el-form>
        或使用：该表单 <el-button @click="onGoto('https://docs.qq.com/form/fill/DTGZiVWx0bkZVaktZ')">点击跳转</el-button> 提交信息（推荐）
        <br><br>
        <el-button @click="onGoto('https://music.163.com/#/artist?id=10089')" style="margin:10px">转到 司夏（网易云音乐）</el-button>
        <el-button @click="onGoto('https://space.bilibili.com/155616')" style="margin:10px">转到 西国之海妖（B站）</el-button>
        <el-button @click="onGoto('http://5sing.kugou.com/ariel/')" style="margin:10px">转到 司夏_西国海妖（5Sing）</el-button>
        <el-button @click="onGoto('http://tieba.baidu.com/p/6028572704')" style="margin:10px">转到司夏_西国の海妖作品集（贴吧）</el-button>
        <el-button @click="onGoto('https://github.com/nathan21hz/neris-music-library')" style="margin:10px">司夏作品查询工具（GitHub）</el-button>
        <h4>更新日志</h4>
        2019-03-30 添加帮助整理外链功能 添加平台外链覆盖率统计<br>
        2019-03-29 基本功能开发完成
    </el-tab-pane>
    <el-tab-pane label="歌曲查询" name="query">
      <el-input v-model="search" placeholder="输入关键字搜索"></el-input>
      <el-table
        :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()) || data.artists.toLowerCase().includes(search.toLowerCase()) || data.group.toLowerCase().includes(search.toLowerCase()) )" stripe 
        style="width: 100%">
      <el-table-column label="序号" prop="id" width="60"></el-table-column>
      <el-table-column label="曲名" prop="title"></el-table-column>
      <el-table-column label="演唱/和声" prop="artists"></el-table-column>
      <el-table-column label="分组" prop="group"></el-table-column>
      <el-table-column label="备注" prop="info"></el-table-column>
      <el-table-column width="100">
        <template slot="header" slot-scope="scope">
          链接
        </template>
        <template slot-scope="scope">
          <el-dropdown @command="handleDropdown">
            <el-button size="small" type="primary">转到链接
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item :command="scope.row.netease" v-if="haveUrl(scope.row.netease)">网易云音乐</el-dropdown-item>
              <el-dropdown-item :command="scope.row.sing" v-if="haveUrl(scope.row.sing)">5Sing</el-dropdown-item>
              <el-dropdown-item :command="scope.row.qqmusic" v-if="haveUrl(scope.row.qqmusic)">QQ音乐</el-dropdown-item>
              <el-dropdown-item :command="scope.row.other" v-if="haveUrl(scope.row.other)">其他平台</el-dropdown-item>
              <el-dropdown-item :command="scope.row.other" disabled="true" v-if="!haveUrl(scope.row.netease || scope.row.sing || scope.row.qqmusic || scope.row.other)">暂无外链</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
  </el-tab-pane>
  </el-tabs>
  </div>
</body>

<script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.11/index.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
<script src="./main.js"></script>

</html>