<!DOCTYPE html>
<html>
<head>
  <title>司夏作品查询工具</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.8/theme-chalk/index.css">
  <link rel="stylesheet" href="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.css">
  <link rel="icon" href="./logo.png" sizes="32x32">
  <script async defer data-website-id="b1c53fa7-b47a-4874-9a94-0fce89d1b2b9" src="https://umami-seven-cyan.vercel.app/umami.js"></script>
</head>
<body style="margin: 0px">
  <div id="app" v-loading.fullscreen.lock="loading">
    <el-container>
      <el-header style="background: #99a9bf;text-align: center;color: white;">
        <h2>司夏 西国の海妖 作品查询工具</h2>
      </el-header>
      <el-main>
        <el-tabs type="border-card" v-model="activeName" @tab-click="loaddata">
          <el-tab-pane label="使用须知" name="alert">
              <h3>资料更新时间 {{ updateInfo.updateTime }}</h3>
              1. 本工具基础数据来自 西国の海妖吧 闻名天下的大盗；<br>
              2. 【司夏】标签页内的曲目双击即可播放，新歌上线30天内不提供在线播放，请至发布平台欣赏；<br>
              3. 跳转链接分为：网易云音乐、5Sing、QQ音乐、其他平台（B站/酷狗/酷我/转圈）；<br>
              4. 分享页面提供音频下载，最高提供320kbps码率MP3，全集下载请联系本站管理员；<br>
              5. 同平台内重复资源：音质优先，音质相同大王账号下优先。
              <div id="calendar" v-bind:style="scaleFun"></div>
              想帮忙添加歌曲信息？ <el-button @click="onGoto('http://melody.xiguo.net/submit.html')">提交信息</el-button>
              <br><br>
              <el-button @click="onGoto('http://melody.xiguo.net/doc.html')" style="margin:10px">Xiguo Melody API</el-button>
              <el-button @click="onGoto('https://music.163.com/#/artist?id=10089')" style="margin:10px">转到 司夏（网易云音乐）</el-button>
              <el-button @click="onGoto('https://space.bilibili.com/155616')" style="margin:10px">转到 西国之海妖（B站）</el-button>
              <el-button @click="onGoto('https://y.qq.com/n/ryqq/singer/003OKNiD0iSL36')" style="margin:10px">转到 司夏（QQ音乐）</el-button>
              <el-button @click="onGoto('http://bbs.xiguo.net/')" style="margin:10px">转到 西国论坛</el-button>
              <el-button @click="onGoto('https://github.com/nathan21hz/neris-music-library')" style="margin:10px">司夏作品查询工具（GitHub）</el-button>
              <h4>更新信息</h4>
                <div v-html="updateInfo.updateInfo"></div>
              <h3>评论区</h3>
                <div id="waline"></div>
          </el-tab-pane>
          <el-tab-pane :label="'司夏（'+updateInfo.sixia+')'" name="sixia">
            <el-input v-model="search" placeholder="输入关键字搜索"></el-input>
            <el-table
              :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()) || data.artists.toLowerCase().includes(search.toLowerCase()) || data.group.toLowerCase().includes(search.toLowerCase()) )"
              stripe 
              style="width: 100%"
              @row-dblclick="playOnline">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-descriptions title="其他信息" style="margin-left:60px; margin-right: 60px;" column="1">
                    <el-descriptions-item label="Staff">{{ props.row.staff }}</el-descriptions-item>
                    <el-descriptions-item label="专辑简介">{{ props.row.description }}</el-descriptions-item>
                </el-descriptions>
              </template>
            </el-table-column>
            <el-table-column label="序号" width="60">
              <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" placement="top-start">
                  <div slot="content">{{scope.row.inner_id}}</div>
                  <div>{{ scope.row.id }}</div>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column label="曲名" prop="title"></el-table-column>
            <el-table-column label="演唱/和声" prop="artists"></el-table-column>
            <el-table-column label="分组" prop="group"></el-table-column>
            <el-table-column label="时间" prop="time"></el-table-column>
            <el-table-column label="备注" prop="info"></el-table-column>
            <el-table-column width="70">
              <template slot="header" slot-scope="scope">
                分享
              </template>
              <template slot-scope="scope">
                <el-button size="small" plain icon="el-icon-share" @click="onGoto('/share.html?id='+scope.row.inner_id)"></el-button>
              </template>
            </el-table-column>
            <el-table-column width="100">
              <template slot="header" slot-scope="scope">
                链接
              </template>
              <template slot-scope="scope">
                <el-dropdown @command="handleDropdown">
                  <el-button size="small" type="primary">转到链接
                  </el-button>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="scope.row.netease" v-if="haveUrl(scope.row.netease)">网易云音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.sing" v-if="haveUrl(scope.row.sing)">5Sing</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.qqmusic" v-if="haveUrl(scope.row.qqmusic)">QQ音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.other" v-if="haveUrl(scope.row.other)">其他平台</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.other" disabled="true" v-if="!haveUrl(scope.row.netease || scope.row.sing || scope.row.qqmusic || scope.row.other)">暂无外链</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane :label="'异世谣（'+updateInfo.yishiyao+')'" name="yishiyao">
          <el-input v-model="search" placeholder="输入关键字搜索"></el-input>
            <el-table
              :data="yishiyaoData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()) || data.artists.toLowerCase().includes(search.toLowerCase()) || data.group.toLowerCase().includes(search.toLowerCase()) )" stripe 
              style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-descriptions title="其他信息" style="margin-left:60px; margin-right: 60px;" column="1">
                    <el-descriptions-item label="Staff">{{ props.row.staff }}</el-descriptions-item>
                    <el-descriptions-item label="专辑简介">{{ props.row.description }}</el-descriptions-item>
                </el-descriptions>
              </template>
            </el-table-column>
            <el-table-column label="序号" width="60">
              <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" placement="top-start">
                  <div slot="content">{{scope.row.inner_id}}</div>
                  <div>{{ scope.row.id }}</div>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column label="曲名" prop="title"></el-table-column>
            <el-table-column label="演唱" prop="artists"></el-table-column>
            <el-table-column label="分组" prop="group"></el-table-column>
            <el-table-column label="时间" prop="time"></el-table-column>
            <el-table-column label="备注" prop="info"></el-table-column>
            <el-table-column width="100">
              <template slot="header" slot-scope="scope">
                链接
              </template>
              <template slot-scope="scope">
                <el-dropdown @command="handleDropdown">
                  <el-button size="small" type="primary">转到链接
                  </el-button>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="scope.row.netease" v-if="haveUrl(scope.row.netease)">网易云音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.qqmusic" v-if="haveUrl(scope.row.qqmusic)">QQ音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.bilibili" v-if="haveUrl(scope.row.bilibili)">Bilibili</el-dropdown-item>
                    <el-dropdown-item disabled="true" v-if="!haveUrl(scope.row.netease ||  scope.row.qqmusic || scope.row.bilibili)">暂无外链</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane :label="'今时古梦（'+updateInfo.jsgm+')'" name="jsgm">
          <el-input v-model="search" placeholder="输入关键字搜索"></el-input>
            <el-table
              :data="jsgmData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()) || data.artists.toLowerCase().includes(search.toLowerCase()) || data.group.toLowerCase().includes(search.toLowerCase()) )" stripe 
              style="width: 100%">
            <el-table-column type="expand">
              <template slot-scope="props">
                <el-descriptions title="其他信息" style="margin-left:60px; margin-right: 60px;" column="1">
                    <el-descriptions-item label="Staff">{{ props.row.staff }}</el-descriptions-item>
                    <el-descriptions-item label="专辑简介">{{ props.row.description }}</el-descriptions-item>
                </el-descriptions>
              </template>
            </el-table-column>
            <el-table-column label="序号" width="60">
              <template slot-scope="scope">
                <el-tooltip class="item" effect="dark" placement="top-start">
                  <div slot="content">{{scope.row.inner_id}}</div>
                  <div>{{ scope.row.id }}</div>
                </el-tooltip>
              </template>
            </el-table-column>
            <el-table-column label="曲名" prop="title"></el-table-column>
            <el-table-column label="演唱" prop="artists"></el-table-column>
            <el-table-column label="分组" prop="group"></el-table-column>
            <el-table-column label="时间" prop="time"></el-table-column>
            <el-table-column label="备注" prop="info"></el-table-column>
            <el-table-column width="100">
              <template slot="header" slot-scope="scope">
                链接
              </template>
              <template slot-scope="scope">
                <el-dropdown @command="handleDropdown">
                  <el-button size="small" type="primary">转到链接
                  </el-button>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item :command="scope.row.netease" v-if="haveUrl(scope.row.netease)">网易云音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.qqmusic" v-if="haveUrl(scope.row.qqmusic)">QQ音乐</el-dropdown-item>
                    <el-dropdown-item :command="scope.row.bilibili" v-if="haveUrl(scope.row.bilibili)">Bilibili</el-dropdown-item>
                    <el-dropdown-item disabled="true" v-if="!haveUrl(scope.row.netease ||  scope.row.qqmusic || scope.row.bilibili)">暂无外链</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="歌词查询" name="lyric">
          <el-input placeholder="请输入内容" v-model="lyric_keyword" class="input-with-select">
            <el-button slot="append" icon="el-icon-search" @click="search_lyric"></el-button>
          </el-input>
          <el-table
              :data="lyricData" stripe 
              style="width: 100%"
              @row-dblclick="playOnline">
            <el-table-column type="expand">
              <template slot-scope="props">
                <div v-for="lyric in props.row.lyrics">
                  [{{lyric.time_mark}}] {{lyric.text}}
                </div>
              </template>
            </el-table-column>
            <el-table-column label="曲名" prop="title"></el-table-column>
            <el-table-column label="演唱" prop="artists"></el-table-column>
            <el-table-column label="时间" prop="time"></el-table-column>
          </el-table>
        </el-tab-pane>
        </el-tabs>
      </el-main>
      <el-footer style="color: #C0C4CC;text-align: center; font-size: 12px">
        Update 20220102<br>
        Powered by Alibaba Cloud<br>
        <a style="text-decoration: none;color: #C0C4CC;" href="https://github.com/nathan21hz">Nathan_21Hz</a>
      </el-footer>
    </el-container>
  </div>

<div id="aplayer"></div>

</body>

<script src="https://cdn.staticfile.org/vue/2.6.11/vue.min.js"></script>
<script src="https://cdn.staticfile.org/element-ui/2.15.8/index.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.6.0/echarts.min.js"></script>
<script src="https://cdn.staticfile.org/aplayer/1.10.1/APlayer.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
<script type="text/javascript">
const ap = new APlayer({
  container: document.getElementById('aplayer'),
  autoplay: false,
  loop: 'all',
  preload: 'auto',
  volume: 0.7,
  mutex: true,
  lrcType: 1,
  fixed: true,
});

var app = new Vue({
  el: '#app',
  data:{
    activeName:'alert',
    updateInfo:{},
    tableData: [],
    yishiyaoData:[],
    jsgmData:[],
    lyricData:[],
    search: '',
    lyric_keyword: '',
    loading: true,
    form:{
      item:'',
      platform:'',
      url:''
    },
    rules:{
      item: [
        { required: true, message: '请输入作品名', trigger: 'blur' }
      ],
      platform: [
        { required: true, message: '请选择发布平台', trigger: 'blur' }
      ],
      url: [
        { required: true, message: '请输入作品链接', trigger: 'blur' }
      ]
    }
  },
  computed: {
    scaleFun: function () {
      var scale = 1;
      var hight = 170
      if (document.body.clientWidth > 870) {
      scale = 1
      hight = 170
      } else {
      scale = (document.body.clientWidth-70) / 800
      hight = 170
      }
      return `width: 800px;height:${hight}px;transform:scale(${scale});transform-origin: left;`;
    },
  },
  mounted: function() {
    var now = new Date().getTime()
    if (this.isToday("2021-5-6")) {
      this.$http.get('./data/info_hb.json?t='+now, this.formquery,{emulateJSON:true}).then(function(response){
        this.updateInfo = response.data;
        this.draw_calendar()
        this.loading = false
      }, function(response){
      // 响应错误回调
      });
    } else {
      this.$http.get('./data/info.json?t='+now, this.formquery,{emulateJSON:true}).then(function(response){
        this.updateInfo = response.data;
        this.draw_calendar()
        this.loading = false
      }, function(response){
      // 响应错误回调
      });
    }
  },
  methods:{
    isToday(str){
      var d = new Date();
      var y = d.getFullYear(); // 年
      var m = d.getMonth() + 1; // 月份从0开始的
      var d = d.getDate(); //日
      return str == (y + '-' + m + '-' + d);
    },
    onGoto(url) {
      if(url){
        window.open(url)
      } else {
        this.$message('本歌曲无连接，请至作品集中查看');
      }
    },
    haveUrl(url){
      if(url == "" || url == null){
        return false
      } else {
        return true
      }
    },
    handleDropdown(command){
      this.onGoto(command)
    },
    onSubmit(){
      this.$refs["form"].validate((valid) => {
        if (valid) {
          this.$http.post('https://1509749986895836.cn-shanghai.fc.aliyuncs.com/2016-08-15/proxy/Automatic/neris-message/',this.form).then(function(response){
            this.$message({
              message: response.data.message,
              type: response.data.type
            });
          }, function(response){
            // 响应错误回调
          });
        } else {
          return false
        }
      })
    },
    loaddata(tab){
      if(tab.name=="sixia" && this.tableData.length === 0){
        this.loading = true
        var now = new Date().getTime()
        this.$http.get('./data/sixia.json?t='+now, this.formquery,{emulateJSON:true}).then(function(response){
          this.tableData = response.data.tableData;
          this.loading = false
        }, function(response){
          this.loading = false
        });
      }
      if(tab.name=="yishiyao" && this.yishiyaoData.length === 0){
        this.loading = true
        var now = new Date().getTime()
        this.$http.get('./data/yishiyao.json?t='+now, this.formquery,{emulateJSON:true}).then(function(response){
          this.yishiyaoData = response.data.tableData;
          this.loading = false
        }, function(response){
          this.loading = false
        });
      }
      if(tab.name=="jsgm" && this.jsgmData.length === 0){
        this.loading = true
        var now = new Date().getTime()
        this.$http.get('./data/jsgm.json?t='+now, this.formquery,{emulateJSON:true}).then(function(response){
          this.jsgmData = response.data.tableData;
          this.loading = false
        }, function(response){
          this.loading = false
        });
      }
    },
    search_lyric(){
      this.loading = true
      this.$http.get('https://fc.21hz.top/sixia-lyric?q='+this.lyric_keyword).then(function(response){
        this.$message({
          message: response.data.msg,
          type: response.data.status
        });
        this.lyricData = response.data.data;
        this.loading = false
      }, function(response){
        this.loading = false
      });
    },
    draw_calendar(){
      var myChart = echarts.init(document.getElementById('calendar'))
      myChart.setOption({
        visualMap: {
          categories:["0","1","2"],
          type: 'piecewise',
          orient: 'horizontal',
          left: 'center',
          top: 10,
          textStyle: {
            color: '#000'
          },
          show:true,
          inRange:{
            color:['#a6f0c6','#51c2d5','#eaac7f']
          },
          formatter: function (value, value2) {
            if(value=="0"){
              return "司夏"
            } else if(value == "1"){
              return "异世谣"
            } else if(value == "2"){
              return "今时古梦"
            }
          }
        },
        tooltip: {
          formatter:function (obj){
            var value = obj.value
            if(value[1] == 0){
              return value[0] + " 司夏"
            } else if(value[1] == 1){
              return value[0] + " 异世谣"
            } else if(value[1] == 2){
              return value[0] + " 今时古梦"
            }
          }
        },
        calendar: {
          top:55,
          left: 30,
          right: 30,
          cellSize: ['auto', 13],
          range: [this.updateInfo.calendar.st,this.updateInfo.calendar.et],
          itemStyle: {
            borderWidth: 2,
            borderColor: '#ddd'
          },
          yearLabel: {show: false},
          dayLabel: {show: false},
          splitLine:{show: false}
        },
        series: {
          type: 'heatmap',
          coordinateSystem: 'calendar',
          data: this.updateInfo.calendar.list
        }
      })
    },
    playOnline(row, column, event) {
      var baseUrl = "http://fc.21hz.top/sixia-music"
      var title = row.title
      var inner_id = row.inner_id

      if(row.time != ""){
        pubTimeStamp = Date.parse(new Date(row.time))
        currTimeStamp = Date.parse(new Date())
        var fromPubTime = (currTimeStamp - pubTimeStamp)/(1000*3600*24)
        console.log(fromPubTime)
        if(fromPubTime < 30){
          this.$message('本站于歌曲发布30日后提供在线播放，当前请至发布平台欣赏');
          return
        }
      }
      
      this.$http.get(baseUrl+'?id='+inner_id).then(function(response){
        ap.list.add({
          name:title,
          artist:"司夏",
          url:response.data.url,
          lrc:response.data.lrc,
          cover:response.data.cover
        })
        ap.list.switch(ap.list.audios.length-1)
        ap.play()
      }, function(response){
      // 响应错误回调
        this.$message('歌曲获取失败');
      });

    }
  }
});
</script>
<script type="text/javascript">
  const locale = {
    admin: '管理员',
  };
  const miaomiao_emoji = {
    name: "小章鱼喵喵",
    folder: "http://bbs.xiguo.net/images/smilies/default/",
    prefix: "",
    type: "gif",
    icon: "01",
    items: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30'],
  };
  Waline({
    el: '#waline',
    avatar: 'mp',
    uploadImage: false,
    meta:['nick', 'mail'],
    requiredMeta: ['nick'],
    serverURL: 'https://xiguo-melody-caline-ppxhylhov-nathan21hz.vercel.app/',
    locale,
    emoji: [
      'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/weibo',
      miaomiao_emoji,
      'https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili',
    ],
  });
  </script>


</html>